In [3]:
import pandas as pd
import scipy as sp

In [17]:
train_X = pd.read_csv('./dataset/trainfeat.csv', sep=' ')
train_Y = pd.read_csv('./dataset/trainlabs.csv', sep=' ')
test_X = pd.read_csv('./dataset/testfeat.csv', sep=' ')
test_Y = pd.read_csv('./dataset/testlabs.csv', sep=' ')
p = 1

In [16]:
train_X.head()

,1,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,...,1.264,1.265,1.266,1.267,1.268,1.269,1.270,1.271,1.272,1.273
0,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,1,1,1,2,1,2
1,1,1,1,1,1,1,1,1,1,1,...,3,2,2,2,2,2,1,1,1,2
2,1,1,1,1,1,1,1,1,1,1,...,1,2,1,3,2,2,2,3,1,2
3,1,1,1,1,1,1,1,1,1,1,...,2,2,2,1,1,1,1,2,1,2
4,1,1,1,1,1,1,1,1,1,1,...,1,2,3,4,1,1,1,4,1,3

In [14]:
train_Y.head()

   0
0  1
1  0
2  1
3  0
4  0